/* Variables */
:root {
	--blue: #21b8b8;
	--red: #ad4b42;
	--purple: #65268d;
	--green: #60b42f;
}
/* Base */
body,
html {
	margin: 0;
	height: 100%;
	font-family: 'B612 Mono', sans-serif;
}

#root {
	height: 100%;
}

button {
	font-family: 'B612 Mono', sans-serif;
}
