:root {
	--blue: #a4ffff;
	--red: #db3e30;
	--purple: #c569ff;
	--green: #a8ff75;
}

body,
html {
	margin: 0;
	font-family: 'B612 Mono', sans-serif;
}
button {
	font-family: 'B612 Mono', sans-serif;
}
.App {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
